@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$background-color: #ebebeb;
$circle-color: rgb(96, 126, 215);
$cross-color: rgb(199, 92, 92);

*{
  font-family: "Lato", Arial, Helvetica, sans-serif !important;
  user-select: none;
}

body {
  background: $background-color;
  user-select: none;
}

.app{
  text-align: center;
  padding: 8px;
  max-height: 200px;
}

h1{
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 48px;
}

.header{
  margin-top: 20px;
}

.footer{
  margin-top: 24px;

  a{
    display: block;
    margin-bottom: 8px;
  }
}

@mixin cross {
  position: relative;

  &::after, &::before{
    height: 100%;
    width: 20%;
    background: $cross-color;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &::before{
    transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
  }

  &::after{
    transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
  }
}

@mixin circle {
  position: relative;

  &::before, &::after{
    border-radius: 50%;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &::before{
    height: 85%;
    width: 85%;
    background: $circle-color;
  }

  &::after{
    height: 50%;
    width: 50%;
    background: $background-color;
  }
}

.grid{
  margin: 0 auto;
  margin-top: 16px;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  display: block;
  font-size: 0;
  position: relative;

  &.cross_turn{
    .cell:hover:not(.circle, .cross){
      @include cross;

      &::after, &::before{
        background: lighten($cross-color, 20%);
      }
    }
  }

  &.circle_turn{
    .cell:hover:not(.circle, .cross){
      @include circle;

      &::before{
        background: lighten($circle-color, 20%);
      }
    }
  }

  &.disabled{
    &::after{
      display: block;
      content: "";
      background: rgba($background-color, 0.8);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;      
    }

    .message{      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 100px;
      width: 80%;
      background: rgb(0, 0, 0, 0.5);
      color: #ffffff;
      z-index: 50;
      font-size: 24px;      
      padding-top: 30px;
      border-radius: 25px;

      p{
        line-height: 30px;
      }
      
      a{
        border: 0;
        height: 20px;
        font-size: 14px;
        color: #c4f1ff;
      }
    }
  }
}


.cell{
  width: 33.3333%;
  aspect-ratio: 1;
  display: inline-block;
  margin: 0;
  font-size: 0;
  border: 2px solid black;
  box-sizing: border-box;
  cursor: pointer;

  &.top{
    border-top: none;
  }

  &.bottom{
    border-bottom: none;
  }

  &.left{
    border-left: none;
  }

  &.right{
    border-right: none;
  }

  &.cross, &.circle{
    cursor: not-allowed;
  }

  &.cross{
    @include cross
  }

  &.circle{
    @include circle
  }
}


/*
// To add a disclaimer for really small devices
@media only screen and (max-width: 320px) {
	body {
		display: none;
    
	}
	html{
		background: black;
	}
}
*/